{% extends 'base.html' %}
{% block content %}
    <h1 class="page-header text-info">Sign In</h1>

    <form action="/login" method="post" class="form-horizontal" style="width: 500px; margin: auto">
        {{ form.hidden_tag() }}

        <div class="form-group">
            <label for="username" class="col-md-2 control-label">Username</label>
            <div class="col-md-10">
                <input type="text" name="username" id="username" class="form-control" placeholder="Jack">
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-md-2 control-label">Password</label>
            <div class="col-md-10">
                <input type="password" name="password" id="password" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="remember_me"> remember me
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2">
                <div>
                    <input class="btn btn-default" type="submit" value="Sign In">
                </div>
            </div>
        </div>
    </form>
{% endblock %}

